.row
  .col-12
    %h1= t('.title', **inflections)

- if Administrador.features?(:rao_query)
  .row
    .col-12
      .card
        .card-header
          .card-title.d-flex.justify-content-between.mb-0
            .start.d-flex.align-items-center
              .mr-1= fa_icon 'search'
              = t('rao.query.form.title')
            .end
              = link_to '#', class: 'btn btn-sm', data: { toggle: 'collapse', target: '#query_form' } do
                = fa_icon 'chevron-down'
        .card-body.collapse.show#query_form
          = query_helper(self).form_for(@collection, url: {}, html: { class: 'administrador-query-form' }, method: :get) do |f|
            .row
              .col-12
                = render partial: 'query_form', locals: { form: f }
            .row
              .col-12.d-flex.justify-content-end
                = render partial: 'query_form_buttons', locals: { form: f }
.row
  .col-12
    .before-index-table= render partial: 'before_index_table', locals: { collection: @collection }

- if Administrador.features?(:kaminari) && @collection.respond_to?(:total_pages)
  .row
    .col-12
      = render partial: 'pagination', locals: { collection: @collection }

.row
  .col-12
    = turbo_frame_tag(dom_class(resource_class)) do
      = collection_table(collection: @collection, resource_class: resource_class, table_html: "collection-table table table-responsive #{resource_class.name.underscore.pluralize.gsub('/', '-')}") do |table|
        = render partial: 'index_table', locals: { table: table }
        = render partial: 'index_table_actions', locals: { table: table }
  
- if Administrador.features?(:kaminari) && @collection.respond_to?(:total_pages)
  .row
    .col-12.d-flex
      = render partial: 'pagination', locals: { collection: @collection }

.row
  .col-12
    .after-index-table= render 'after_index_table', locals: { collection: @collection }

.row
  .index-actions.col-12.d-flex
    = render partial: 'index_actions'