.row
  .col-12
    %h1= administrador_helper(self).label_for(@resource)

.row
  .col-12
    .before-show-table= render partial: 'before_show_table', locals: { resource: @resource }
.row
  .col-12
    = turbo_frame_tag(dom_id(@resource)) do
      = resource_table(resource: @resource) do |table|
        = render 'show_table', table: table

.row
  .col-12
    .after-show-table= render partial: 'after_show_table', locals: { resource: @resource }
    
.row
  .show-actions.col-12.d-flex
    = render partial: 'show_actions', locals: { resource: @resource }