.row
  .col-12
    %h1= t('.title', inflections)
    
.row
  .col-12
    = simple_form_for(@resource, url: collection_path) do |form|
      = render partial: 'form_errors', locals: { resource: form.object }
      = render 'form', form: form
      = render 'form_buttons', form: form

.row
  .new-actions.col-12.d-flex
    = render partial: 'new_actions'