.row
  .col-12
    %h1= t('.title', **inflections)

.row
  .col-12
    .create-before-service-output= render 'create_before_service_output', result: @result

.row
  .col-12
    %table.table.table-sm.table-striped.table-monospaced
      %tbody
        - @result.messages.each_with_index do |message, index|
          %tr
            %td= index + 1
            %td= message

.row
  .col-12
    .create-after-service-output= render 'create_after_service_output', result: @result

.row
  .create-actions.col-12.d-flex
    = render partial: 'create_actions'
